@mixin triangle(
  $pseudo-element,
  $size,
  $color,
  $top-or-bottom,
  $top-or-bottom-value,
  $left-or-right,
  $left-or-right-value,
  $direction
) {
  &:#{$pseudo-element} {
    content: "";
    border: $size solid transparent;
    border-#{$direction}: $size solid $color;
    border-bottom: $size solid $color;
    position: absolute;
    #{$top-or-bottom}: $top-or-bottom-value;
    #{$left-or-right}: $left-or-right-value;
  }
}

@mixin font($size, $weight, $line-height, $family: false) {
  font: {
    size: $size;
    weight: $weight;
  }
  @if ($family) {
    font-family: $family;
  }
  line-height: $line-height;
}

@mixin feature-icon($color, $size: 100px) {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  &:before {
    content: "";
    height: $size;
    width: $size;
    border-radius: 50%;
    opacity: 0.15;
    background: $color;
    position: absolute;
  }
  svg {
    path {
      stroke: $color;
    }
  }
}

@mixin checkbox($margin_x, $first-color, $second-color) {
  input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
    &:checked + label {
      background: $second-color;
    }
    &:checked + label:after {
      left: calc(100% - 9px);
      transform: translateX(-100%);
    }
  }

  label {
    margin-left: $margin_x;
    margin-right: $margin_x;
    cursor: pointer;
    text-indent: -9999px;
    width: 93px;
    height: 50px;
    background: $first-color;
    display: block;
    border-radius: 100px;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      top: 10px;
      left: 9px;
      width: 30px;
      height: 30px;
      background: #fff;
      border-radius: 30px;
      transition: 0.3s;
    }
    &:active:after {
      width: 30px;
    }
  }
}
