@import "mixins";
.cta {
  position: relative;
  background-color: $purple;
  border-radius: 16px;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  .h1 {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 40px;
    font-weight: 600;
    position: relative;
    @include triangle(before, 20px, $red100, top, -80px, left, 30%, right);
  }
  @include triangle(after, 36px, $red100, bottom, 40px, right, -20px, right);
  @include triangle(before, 20px, $red100, bottom, 88px, left, -15px, left);
}

@include checkbox(30px, $red100, $yellow);
