.footer {
  background-color: $red100;
  .footer__row {
    display: flex;
    .footer__col {
      flex: 1;
      margin-left: 60px;
      &:first-child {
        margin-left: 0px;
        margin-right: 120px;
        flex: 2;
      }
      &:last-child {
        margin-right: 0;
      }
      .footer__col-content {
        @extend .regular-inter;
      }
      .footer__col-title {
        @extend .h6;
        color: $white;
        margin-bottom: 24px;
      }
      .footer__col-links {
        display: flex;
        flex-direction: column;
      }
      .footer-link {
        @extend .regular-inter;
        @extend .link;
        margin-bottom: 24px;
      }
    }
  }
  .footer-logo {
    width: 120.96px;
    height: 80px;
    margin-bottom: 16px;
  }
  .regular-inter {
    color: $white5;
    font-size: 16px;
  }
  .copyright {
    margin-top: 90px;
    margin-bottom: 20px;
    font-size: 18px;
  }
}
