@import "mixins";
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  span:last-of-type {
    a:first-child:after {
      content: "";
      border-right: 1px solid $grey20;
      margin-left: 30px;
    }
    a:first-child::before {
      width: 50%;
    }
  }
}
.menu__item {
  @extend .link;
  @include font(15px, 600, 22.5px);
  padding-bottom: 4px;
  margin-right: 34px;
  position: relative;
  &:hover {
    opacity: 0.8;
  }
}
.menu__item:hover::before {
  content: "";
  position: absolute;
  bottom: -1px;
  border-bottom: 2px solid $red100;
  width: 80%;
  margin: 0 10%;
}
.menu__item--active {
  &:before {
    content: "";
    position: absolute;
    bottom: -1px;
    border-bottom: 2px solid $red100;
    width: 80%;
    margin: 0 10%;
  }
}

.header {
  padding-top: 40px;
  .inner-wrapper {
    display: flex;
    align-items: center;
    .header__menu {
      @extend .menu;
    }
    .header__logo {
      width: 90.81px;
      height: 60px;
      margin-right: 65px;
    }
  }
}
.app-icon {
  vertical-align: middle;
}

.main-screen {
  display: flex;
  .main-screen__content-block {
    width: 58%;
    position: relative;
    @include triangle(before, 20px, $red100, bottom, 161px, right, -15px, left);
    .main-screen__title {
      @extend .h1;
      margin-bottom: 34px;
    }
    .main-screen__subtitle {
      @extend .second-subtitle;
      margin-bottom: 60px;
    }
    .main-screen__title,
    .main-screen__subtitle {
      padding-right: 25%;
    }
    .main-screen__slider-menu {
      margin-bottom: 26px;
      span {
        padding-bottom: 2px;
        border-bottom: 2px $white5 solid;
      }
      .item {
        @extend .menu__item;
        margin-right: 23px;
        padding-bottom: 4px;
        color: $grey10;
        &:hover {
          color: $red100;
        }
      }
      .menu__item--active {
        color: $red100 !important;
      }
    }
    .main-btn:first-of-type {
      margin-right: 25px;
    }
  }

  .main-screen__image-block {
    width: 42%;
    display: flex;
    justify-content: center;
    position: relative;
    .main-screen__promo-photo {
      width: 100%;
      z-index: -1;
      height: auto;
    }
    @include triangle(before, 36px, $red100, bottom, 42px, right, -20px, right);
    @include triangle(after, 20px, $red100, top, 63px, right, -15px, right);
  }
}
