@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap");
@import "mixins";

/* Colors */
$white: #ffffff;
$white5: #e5e5e5;
$black50: #2e2e2e;
$black70: #18191f;
$black100: #000000;
$grey5: #c4c4c4;
$grey10: #d6d4d4e0;
$grey20: #dad8d8;
$grey20: #808080;
$grey30: #969bab;
$red100: #b00000;
$purple: #f7fafe;
$yellow: #ffe87a;
$turquoise: #2ec5ce;
/*  */

/* Font */
$primary-font: "Poppins", sans-serif;
$secondary-font: "Inter", sans-serif;

body {
  font-family: $primary-font;
  font-size: 18px;
  color: $black100;
}
.h1 {
  @include font(64px, 700, 77px);
  color: $black50;
}
.h2 {
  @include font(48px, 800, 64px);
  font-feature-settings: "salt" on, "liga" off;
}

.h3 {
  @include font(42px, 600, 32px);
}

.h4 {
  @include font(20px, 700, 30px);
}

.h6 {
  @include font(16px, 700, 24px);
}
.subtitle {
  @include font(25px, normal, 25px);
}

.small-subtitle {
  @include font(14px, 300, 14px);
}
.second-subtitle {
  @include font(16px, 400, 28px, $secondary-font);
  color: $grey20;
  letter-spacing: 0.05em;
}
.secondary {
  @include font(12px, 300, 18px);
}
.regular-inter {
  @include font(18px, 400, 32px, $secondary-font);
  font-feature-settings: "salt" on, "liga" off;
}

/*  */

.main-btn {
  @include font(14px, normal, 24px, $primary-font);
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
  color: $black100;
  padding: 12px 13.5px;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 8px;
  background: $white;
  &:hover {
    color: $white;
    background: $red100;
    border: $red100 1px solid;
    border-radius: 8px;
  }
  &:active {
    box-shadow: 0px 0px 64px rgba(176, 0, 0, 0.3);
  }
}
.main-btn--active {
  color: $white;
  background: $red100;
  border: $red100 1px solid;
  border-radius: 8px;
  box-shadow: 0px 0px 64px rgba(176, 0, 0, 0.3);
}
.secondary-btn {
  @extend .main-btn;
  color: $white;
  background-color: $red100;
  border: $red100 1px solid;
  &:hover {
    opacity: 0.8;
  }
}

.btn-icon {
  margin: 0 11px;
  vertical-align: middle;
}

.link {
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
  &:hover {
    opacity: 0.8;
  }
}
/*  */

.section {
  padding-top: 6vh;
  padding-bottom: 6vh;
}
.inner-wrapper {
  max-width: 85vw;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@import "main-screen";
@import "pricing";
@import "cta";
@import "reviews";
@import "server_tools";
@import "footer";
@import "responsive";
