@media screen and (max-width: 1292px) {
  .main-screen {
    .main-screen__content-block {
      width: auto;
      .main-screen__title,
      .main-screen__subtitle {
        padding-right: 0;
      }
    }
    .main-screen__image-block {
      width: auto;
    }
  }
}
@media screen and (max-width: 1100px) {
  .main-screen {
    flex-direction: column;
  }
  .main-screen__image-block {
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  .h1 {
    font-size: 45px;
    line-height: 60px;
  }
  .h2 {
    font-size: 40px;
  }
  .server-tools {
    flex-direction: column;
    .server-tools__gallery-block,
    .server-tools__content-block {
      width: 100%;
    }
    .server-tools__content-block-title {
      text-align: center;
    }
    .server-tools__content-block-content {
      margin-right: 0 !important;
      text-align: justify;
    }
  }
  .features {
    .features__list {
      flex-direction: column;
      .list__item {
        margin-bottom: 3vh;
      }
      .list__item-content {
        text-align: justify;
      }
    }
  }
  .pricing {
    .pricing__title {
      margin-left: 0;
      margin-right: 0;
    }
    .pricing__price-list {
      flex-direction: column;
      .price-list__card {
        text-align: center;
        margin: 2vh 10vw;
        &:last-of-type {
          margin-right: 10vw;
        }
      }
    }
  }
  .reviews {
    .reviews__wrapper {
      margin: 0;
      .reviews-block__card:nth-child(3) {
        margin-left: 0;
      }
      .reviews-block__card:nth-child(2) {
        margin-right: 0;
      }
    }
  }
  .footer {
    .footer__row {
      flex-wrap: wrap;
      .footer__col {
        flex: auto;
        margin-left: 0;
        &:first-child {
          margin-right: 0;
          flex: auto;
          margin-bottom: 3vh;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .header {
    .header__menu {
      display: none !important;
    }
  }
  .main-screen {
    .main-btn {
      margin: 10px 0;
    }
  }
  .reviews {
    .reviews-block__title,
    .reviews-block__content {
      text-align: center;
    }
    .reviews__wrapper {
      flex-direction: column;
    }
    .reviews-block__card {
      padding: 30px !important;
      margin: 15px !important;
    }
  }
  .pricing {
    .pricing__package {
      margin-bottom: 60px;
      flex-direction: column;
      align-items: center;
      * {
        margin-bottom: 20px;
      }
    }
    .pricing__price-list {
      .price-list__card {
        margin: 2vh 0 !important;
        .price-list__card-features-list {
          text-align: justify;
        }
      }
    }
  }
}
