.reviews {
  .reviews__wrapper {
    display: flex;
    margin: 0 115px;
    .reviews-block__title {
      @extend .h2;
      margin-bottom: 8px;
      position: relative;
      @include quotes(
        after,
        left,
        -25%,
        top,
        40%,
        rgba(176, 0, 0, 0.322),
        8em,
        -1
      );
    }
    .reviews-block__content {
      @extend .regular-inter;
    }
    .reviews__wrapper-block {
      flex: 1;
    }
    .reviews-block__card {
      margin: 15px;
      padding: 35px 30px 14px 64px;
      background-color: $white;
      box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
      border-radius: 8px;
      img {
        margin-bottom: -15px;
      }
      .reviews-block__card-content {
        @extend .regular-inter;
        margin-bottom: 24px;
        font-size: 16px;
        position: relative;
        @include quotes(after, left, -26px, top, -10px, $turquoise, 3em);
      }
      .reviews-block__card-footer {
        .card-footer__author {
          @include font(18px, 800, 28px, $secondary-font);
          color: $black70;
        }
        .card-footer__subtitle {
          @extend .small-subtitle;
          line-height: 24px;
          color: $grey30;
        }
      }
    }
    .reviews-block__card:nth-child(2) {
      img {
        margin-bottom: -25px;
      }
      margin-right: 20%;
      margin-top: 30px;
      padding-bottom: 32px;
      .reviews-block__card-content {
        font-size: 18px;
      }
    }
    .reviews-block__card:nth-child(3) {
      margin-left: 28%;
      padding-bottom: 90px;
    }
  }
}
