.reviews {
  .wrapper {
    display: flex;
    margin: 0 115px;
    .h2 {
      margin-bottom: 8px;
      position: relative;
      &::after {
        z-index: -1;
        content: url("../img/big-quotes.svg");
        position: absolute;
        left: -15%;
        top: -40%;
      }
    }
    .block {
      flex: 1;
    }
    .card {
      margin: 15px;
      padding: 35px 30px 14px 64px;
      background-color: $white;
      box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
      border-radius: 8px;
      img {
        margin-bottom: -15px;
      }
      .card-body {
        margin-bottom: 24px;
        font-size: 16px;
        position: relative;

        &:after {
          position: absolute;
          content: url("../img/quotes.svg");
          left: -26px;
          top: -10px;
        }
      }
      .card-footer {
        .regular-inter {
          font: {
            size: 18px;
            weight: 800;
          }
          line-height: 28px;
          color: $black70;
        }
        .small-subtitle {
          line-height: 24px;
          color: $grey30;
        }
      }
    }
    .card:nth-child(2) {
      img {
        margin-bottom: -25px;
      }
      margin-right: 20%;
      margin-top: 30px;
      padding-bottom: 32px;
      .card-body {
        font-size: 18px;
      }
    }
    .card:nth-child(3) {
      margin-left: 28%;
      padding-bottom: 90px;
    }
  }
}
