@import "mixins";
.server-tools {
  display: flex;
  justify-content: space-between;
  .server-tools__gallery-block {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .server-tools__gallery-img {
      width: 120px;
      height: 120px;
    }
  }
  .server-tools__content-block {
    width: 50%;
    .server-tools__content-block-title {
      @extend .h2;
      margin-bottom: 21px;
      margin-top: 20px;
      color: $black70;
    }
    .server-tools__content-block-content {
      @extend .regular-inter;
      color: $black70;
      margin-right: 8%;
    }
  }
  .gallery-block__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.consumers {
  p {
    margin-right: 23% !important;
  }
}

.features__list {
  display: flex;
  .list__item {
    text-align: center;
    .list__item-title {
      @extend .h4;
    }
    .list__item-content {
      @extend .secondary;
      color: $black100;
      padding-left: 10%;
      padding-right: 10%;
    }
    .h4 {
      margin-top: 12px;
      margin-bottom: 4px;
    }
  }
  .icon-circle {
    @include feature-icon($red100);
  }
}
