@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* Colors */
/*  */
/* Font */
body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #000000;
}

.h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 77px;
  color: #2e2e2e;
}

.h2 {
  font-size: 48px;
  font-weight: 800;
  line-height: 64px;
  font-feature-settings: "salt" on, "liga" off;
}

.h3 {
  font-size: 42px;
  font-weight: 600;
  line-height: 32px;
}

.h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

.h6, .pricing .price-list .features-list li {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.subtitle {
  font-size: 25px;
  font-weight: normal;
  line-height: 25px;
}

.small-subtitle {
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
}

.second-subtitle {
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  line-height: 28px;
  color: #808080;
  letter-spacing: 0.05em;
}

.secondary {
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
}

.regular-inter, .footer .row .col .footer-link {
  font-size: 18px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  line-height: 32px;
  font-feature-settings: "salt" on, "liga" off;
}

/*  */
.main-btn, .secondary-btn {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
  color: #000000;
  line-height: 24px;
  padding: 12px 13.5px;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 8px;
  background: #ffffff;
}
.main-btn:hover, .secondary-btn:hover {
  color: #ffffff;
  background: #b00000;
  border: #b00000 1px solid;
  border-radius: 8px;
}
.main-btn:active, .secondary-btn:active {
  box-shadow: 0px 0px 64px rgba(176, 0, 0, 0.3);
}

.secondary-btn {
  color: #ffffff;
  background-color: #b00000;
  border: #b00000 1px solid;
}
.secondary-btn:hover {
  opacity: 0.8;
}

.btn-icon {
  margin: 0 11px;
  vertical-align: middle;
}

.link, .footer .row .col .footer-link, .menu-item, .pricing .slider-menu .item, .main-screen .content-block .slider-menu .item {
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}
.link:hover, .footer .row .col .footer-link:hover, .menu-item:hover, .pricing .slider-menu .item:hover, .main-screen .content-block .slider-menu .item:hover {
  opacity: 0.8;
}

/*  */
.section {
  padding-top: 6vh;
  padding-bottom: 6vh;
}

.inner-wrapper {
  max-width: 85vw;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.step-circle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.step-circle:before {
  content: "";
  height: 100px;
  width: 100px;
  border-radius: 50%;
  opacity: 0.15;
  background: #b00000;
  position: absolute;
}
.step-circle svg path {
  stroke: #b00000;
}

.header {
  padding-top: 40px;
}
.header .inner-wrapper {
  display: flex;
  align-items: center;
}

.app-icon {
  vertical-align: middle;
}

.logo {
  width: 90.81px;
  height: 60px;
  margin-right: 65px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.menu span:last-of-type a:first-child:after {
  content: "";
  border-right: 1px solid #808080;
  margin-left: 30px;
}
.menu span:last-of-type a:first-child::before {
  width: 50%;
}

.menu-item, .pricing .slider-menu .item, .main-screen .content-block .slider-menu .item {
  font-size: 15px;
  font-weight: 600;
  line-height: 22.5px;
  padding-bottom: 4px;
  margin-right: 34px;
  position: relative;
}
.menu-item:hover, .pricing .slider-menu .item:hover, .main-screen .content-block .slider-menu .item:hover {
  opacity: 0.8;
}

.menu-item:hover::before, .pricing .slider-menu .item:hover::before, .main-screen .content-block .slider-menu .item:hover::before {
  content: "";
  position: absolute;
  bottom: -1px;
  border-bottom: 2px solid #b00000;
  width: 80%;
  margin: 0 10%;
}

.main-screen {
  display: flex;
}
.main-screen .content-block {
  width: 58%;
  position: relative;
}
.main-screen .content-block:before {
  content: "";
  border: 20px solid transparent;
  border-left: 20px solid #b00000;
  border-bottom: 20px solid #b00000;
  position: absolute;
  bottom: 161px;
  right: -15px;
}
.main-screen .content-block .h1 {
  margin-bottom: 34px;
}
.main-screen .content-block p {
  margin-bottom: 60px;
}
.main-screen .content-block .h1,
.main-screen .content-block .second-subtitle {
  padding-right: 25%;
}
.main-screen .content-block .slider-menu {
  margin-bottom: 26px;
}
.main-screen .content-block .slider-menu span {
  padding-bottom: 2px;
  border-bottom: 2px #e5e5e5 solid;
}
.main-screen .content-block .slider-menu .item {
  margin-right: 23px;
  padding-bottom: 4px;
  color: #d6d4d4e0;
}
.main-screen .content-block .slider-menu .item:hover {
  color: #b00000;
}
.main-screen .content-block .main-btn:first-of-type, .main-screen .content-block .secondary-btn:first-of-type {
  margin-right: 25px;
}
.main-screen .image-block {
  width: 42%;
  display: flex;
  justify-content: center;
  position: relative;
}
.main-screen .image-block .promo-photo {
  width: 100%;
  z-index: -1;
  height: auto;
}
.main-screen .image-block:before {
  content: "";
  border: 36px solid transparent;
  border-right: 36px solid #b00000;
  border-bottom: 36px solid #b00000;
  position: absolute;
  bottom: 42px;
  right: -20px;
}
.main-screen .image-block:after {
  content: "";
  border: 20px solid transparent;
  border-right: 20px solid #b00000;
  border-bottom: 20px solid #b00000;
  position: absolute;
  top: 63px;
  right: -15px;
}

.pricing {
  text-align: center;
}
.pricing .h1 {
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
  color: #000000;
  margin-bottom: 38px;
  margin: 0 20% 38px 20%;
}
.pricing .subtitle {
  margin-bottom: 57px;
}
.pricing .package {
  margin-bottom: 120px;
  display: flex;
  justify-content: center;
}
.pricing .package .subtitle {
  margin-bottom: 0;
  display: flex;
  align-items: center;
  position: relative;
}
.pricing .package .subtitle:last-of-type:after {
  content: "20%  discount";
  position: absolute;
  width: 87px;
  height: 24px;
  border-radius: 8px;
  box-sizing: border-box;
  background: #ffe87a;
  padding: 7px 8px;
  right: -100px;
  font-size: 10px;
  font-weight: 500;
  line-height: 9px;
}
.pricing .slider-menu {
  display: flex;
  margin: 0 10% 85px 10%;
}
.pricing .slider-menu .item {
  flex: 1;
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
  margin-right: 0;
  border-bottom: 4px solid #c4c4c4;
}
.pricing .slider-menu .item:hover {
  border-bottom: 4px solid #b00000;
}
.pricing .slider-menu .item:hover::before {
  width: 0;
}
.pricing .slider-menu .item-active {
  border-bottom: 4px solid #b00000;
}
.pricing .price-list {
  display: flex;
  padding-left: 4%;
  padding-right: 4%;
  justify-content: space-between;
}
.pricing .price-list .price-card {
  margin-right: 9%;
  background: #ffffff;
  border: 1.5px solid #c4c4c4;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 34px;
  text-align: left;
}
.pricing .price-list .price-card:last-of-type {
  margin-right: 0;
}
.pricing .price-list .card-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 25px;
  margin-bottom: 11px;
}
.pricing .price-list .secondary {
  margin-bottom: 28px;
}
.pricing .price-list .small-subtitle {
  margin: 11px 0 35px 0;
}
.pricing .price-list .main-btn, .pricing .price-list .secondary-btn {
  margin-bottom: 35px;
  border: 2px solid #000000;
  font-weight: 600;
}
.pricing .price-list .main-btn:hover, .pricing .price-list .secondary-btn:hover {
  border: #b00000 2px solid;
}
.pricing .price-list .features-list {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.pricing .price-list .features-list li {
  color: #808080;
  font-feature-settings: "pnum" on, "lnum" on;
  font-family: "Inter", sans-serif;
  margin-bottom: 15px;
}
.pricing .price-list .features-list li:last-of-type {
  margin-bottom: 0;
}
.pricing .price-list .features-list li::before {
  content: url("../img/checkmark.svg");
  vertical-align: middle;
  margin-right: 24px;
  color: #000000;
}

.cta {
  position: relative;
  background-color: #f7fafe;
  border-radius: 16px;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}
.cta .h1 {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 40px;
  font-weight: 600;
  position: relative;
}
.cta .h1:before {
  content: "";
  border: 20px solid transparent;
  border-right: 20px solid #b00000;
  border-bottom: 20px solid #b00000;
  position: absolute;
  top: -80px;
  left: 30%;
}
.cta:after {
  content: "";
  border: 36px solid transparent;
  border-right: 36px solid #b00000;
  border-bottom: 36px solid #b00000;
  position: absolute;
  bottom: 40px;
  right: -20px;
}
.cta:before {
  content: "";
  border: 20px solid transparent;
  border-left: 20px solid #b00000;
  border-bottom: 20px solid #b00000;
  position: absolute;
  bottom: 88px;
  left: -15px;
}

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}
input[type=checkbox]:checked + label {
  background: #ffe87a;
}
input[type=checkbox]:checked + label:after {
  left: calc(100% - 9px);
  transform: translateX(-100%);
}

label {
  margin-left: 30px;
  margin-right: 30px;
  cursor: pointer;
  text-indent: -9999px;
  width: 93px;
  height: 50px;
  background: #b00000;
  display: block;
  border-radius: 100px;
  position: relative;
}
label:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 9px;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 30px;
  transition: 0.3s;
}
label:active:after {
  width: 30px;
}

.reviews .wrapper {
  display: flex;
  margin: 0 115px;
}
.reviews .wrapper .h2 {
  margin-bottom: 8px;
  position: relative;
}
.reviews .wrapper .h2::after {
  z-index: -1;
  content: url("../img/big-quotes.svg");
  position: absolute;
  left: -15%;
  top: -40%;
}
.reviews .wrapper .block {
  flex: 1;
}
.reviews .wrapper .card {
  margin: 15px;
  padding: 35px 30px 14px 64px;
  background-color: #ffffff;
  box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
  border-radius: 8px;
}
.reviews .wrapper .card img {
  margin-bottom: -15px;
}
.reviews .wrapper .card .card-body {
  margin-bottom: 24px;
  font-size: 16px;
  position: relative;
}
.reviews .wrapper .card .card-body:after {
  position: absolute;
  content: url("../img/quotes.svg");
  left: -26px;
  top: -10px;
}
.reviews .wrapper .card .card-footer .regular-inter, .reviews .wrapper .card .card-footer .footer .row .col .footer-link, .footer .row .col .reviews .wrapper .card .card-footer .footer-link {
  font-size: 18px;
  font-weight: 800;
  line-height: 28px;
  color: #18191f;
}
.reviews .wrapper .card .card-footer .small-subtitle {
  line-height: 24px;
  color: #969bab;
}
.reviews .wrapper .card:nth-child(2) {
  margin-right: 20%;
  margin-top: 30px;
  padding-bottom: 32px;
}
.reviews .wrapper .card:nth-child(2) img {
  margin-bottom: -25px;
}
.reviews .wrapper .card:nth-child(2) .card-body {
  font-size: 18px;
}
.reviews .wrapper .card:nth-child(3) {
  margin-left: 28%;
  padding-bottom: 90px;
}

.server-tools {
  display: flex;
}
.server-tools .block {
  flex: 1;
}
.server-tools .gallery-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.server-tools .gallery-block .gallery-img {
  width: 120px;
  height: 120px;
}
.server-tools .content-block {
  margin-right: 50px;
}
.server-tools .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.server-tools .h2 {
  color: #18191f;
  font-family: "Inter", sans-serif;
  margin-bottom: 21px;
  margin-top: 20px;
}
.server-tools p {
  color: #18191f;
}

.consumers p {
  margin-right: 23%;
}

.features-list {
  display: flex;
}
.features-list .features-item {
  text-align: center;
}
.features-list .features-item .secondary {
  color: #000000;
  padding-left: 10%;
  padding-right: 10%;
}
.features-list .features-item .features-icon {
  margin-bottom: 12px;
}
.features-list .features-item .h4 {
  margin-bottom: 4px;
}

.footer {
  background-color: #b00000;
}
.footer .row {
  display: flex;
}
.footer .row .col {
  flex: 1;
  margin-left: 60px;
}
.footer .row .col:first-child {
  margin-left: 0px;
  margin-right: 120px;
  flex: 2;
}
.footer .row .col:last-child {
  margin-right: 0;
}
.footer .row .col .h6, .footer .row .col .pricing .price-list .features-list li, .pricing .price-list .features-list .footer .row .col li {
  color: #ffffff;
  margin-bottom: 24px;
}
.footer .row .col .footer-links {
  display: flex;
  flex-direction: column;
}
.footer .row .col .footer-link {
  margin-bottom: 24px;
}
.footer .footer-logo {
  width: 120.96px;
  height: 80px;
  margin-bottom: 16px;
}
.footer .regular-inter, .footer .row .col .footer-link {
  color: #e5e5e5;
  font-size: 16px;
}
.footer .copyright {
  margin-top: 90px;
  margin-bottom: 20px;
  font-size: 18px;
}

@media screen and (max-width: 1292px) {
  .main-screen .content-block {
    width: auto;
  }
  .main-screen .content-block .h1,
.main-screen .content-block .second-subtitle {
    padding-right: 0;
  }
  .main-screen .image-block {
    width: auto;
  }
}
@media screen and (max-width: 1100px) {
  .main-screen {
    flex-direction: column;
  }

  .image-block {
    margin-top: 20px;
  }
}
@media screen and (max-width: 768px) {
  .server-tools {
    flex-direction: column;
  }

  .features .features-list {
    flex-direction: column;
  }
  .features .features-list .features-item {
    margin-bottom: 3vh;
  }

  .pricing .price-list {
    flex-direction: column;
  }
  .pricing .price-list .price-card {
    text-align: center;
    margin: 2vh 10vw;
  }
  .pricing .price-list .price-card:last-of-type {
    margin-right: 10vw;
  }

  .reviews .wrapper {
    margin: 0;
  }
  .reviews .wrapper .card:nth-child(3) {
    margin-left: 0;
  }
  .reviews .wrapper .card:nth-child(2) {
    margin-right: 0;
  }

  .footer .row {
    flex-wrap: wrap;
  }
  .footer .row .col {
    flex: auto;
    margin-left: 0;
  }
  .footer .row .col:first-child {
    margin-right: 0;
    flex: auto;
    margin-bottom: 3vh;
  }
}
@media screen and (max-width: 700px) {
  .header .menu {
    display: none;
  }

  .pricing .package {
    margin-bottom: 60px;
    flex-direction: column;
    align-items: center;
  }
  .pricing .package * {
    margin-bottom: 20px;
  }
  .pricing .price-list .price-card {
    margin: 2vh 0;
  }
}

/*# sourceMappingURL=index.css.map */
